<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="#">Débora Maria | Arquitetura</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#projetos">Projetos</a></li>
              <li class="nav-item"><a class="nav-link" href="#ferramentas">Ferramentas</a></li>
              <li class="nav-item"><a class="nav-link" href="#desenhos">Desenhos</a></li>
              <li class="nav-item"><a class="nav-link" href="#contato">Contato</a></li>
          </ul>
      </div>
  </div>
</nav>


<section id="home" class="section-1">
  <div class="container">
    <div class="content">
      <img src="assets/imagens/debora.png" alt="Débora Maria" class="img-fluid"> <!-- Classe img-fluid para responsividade -->
      <div>
        <h2 style="font-size: 40px; font-weight: bold;">Débora Maria</h2>
        <p style="font-size: 18px;">
          Sou apaixonada por transformar ideias em realidade através da arquitetura e do design. 
          Tenho paixão por desenvolver projetos arquitetônicos e minhas experiências em projetos sociais me proporcionaram
          habilidades essenciais como organização, liderança, trabalho em equipe e criatividade. 
          Busco sempre inovar e criar soluções funcionais e estéticas para cada projeto. 
        </p>
        <p style="font-size: 18px;">
          Além disso, estou sempre em busca de novos desafios e oportunidades de aprendizado para 
          aprimorar minhas habilidades e contribuir de forma significativa para o meio profissional. 
        </p>
        <a href="assets/imagens/projetos-debora.pdf" download class="btn btn-dark">Baixar Portfólio</a>
      </div>
    </div>
  </div>
</section>


<section id="projetos" class="section-2">
  <div class="container">
    <h2 style="margin-bottom: 30px; font-weight: bold;">Projetos</h2>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div id="carouselColmeia" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
          <div class="carousel-inner">
            <h5>Colégio Colmeia</h5>
            <div class="carousel-item active text-center">
              <img src="assets/imagens/colegio.png" alt="Planta Baixa Escola" class="img-fluid">
            </div>
            <div class="carousel-item text-center">
              <img src="assets/imagens/COLÉGIO1.png" alt="Planta Baixa Escola" class="img-fluid">
            </div>
            <div class="carousel-item text-center">
              <img src="assets/imagens/COLÉGIO2.png" alt="Planta Baixa Escola" class="img-fluid">
            </div>
            <div class="carousel-item text-center">
              <img src="assets/imagens/COLÉGIO3.png" alt="Planta Baixa Escola" class="img-fluid">
            </div>
            <div class="carousel-item text-center">
              <img src="assets/imagens/COLÉGIO4.png" alt="Planta Baixa Escola" class="img-fluid">
            </div>
            <div class="carousel-item text-center">
              <img src="assets/imagens/COLÉGIO5.png" alt="Planta Baixa Escola" class="img-fluid">
            </div>
            <div class="carousel-item text-center">
              <img src="assets/imagens/COLÉGIO6.png" alt="Planta Baixa Escola" class="img-fluid">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselColmeia" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselColmeia" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="col-md-4">
        <div id="carouselOrganico" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
          <div class="carousel-inner">
            <h5>Edifício Orgânico</h5>
            <div class="carousel-item active text-center">
              <img src="assets/imagens/ed.png" alt="Planta de Cobertura Escola" class="img-fluid">
            </div>
            <div class="carousel-item text-center">
              <img src="assets/imagens/EDIFICIO4.png" alt="Planta Baixa Escola" class="img-fluid">
            </div>
            <div class="carousel-item text-center">
              <img src="assets/imagens/EDIFICIO5.png" alt="Planta Baixa Escola" class="img-fluid">
            </div>
            <div class="carousel-item text-center">
              <img src="assets/imagens/EDIFICIO6.png" alt="Planta Baixa Escola" class="img-fluid">
            </div>
            <div class="carousel-item text-center">
              <img src="assets/imagens/EDIFICIO7.png" alt="Planta Baixa Escola" class="img-fluid">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselOrganico" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselOrganico" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="col-md-4">
        <div id="carouselApartamento" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
          <div class="carousel-inner">
            <h5>Apartamento Afetivo</h5>
            <div class="carousel-item active text-center">
              <img src="assets/imagens/ap.png" alt="Corte Escola" class="img-fluid">
            </div>
            <div class="carousel-item text-center">
              <img src="assets/imagens/Apartamento1.png" alt="Corte Escola" class="img-fluid">
            </div>
            <div class="carousel-item text-center">
              <img src="assets/imagens/Apartamento2.png" alt="Corte Escola" class="img-fluid">
            </div>
            <div class="carousel-item text-center">
              <img src="assets/imagens/Apartamento3.png" alt="Corte Escola" class="img-fluid">
            </div>
            <div class="carousel-item text-center">
              <img src="assets/imagens/Apartamento4.png" alt="Corte Escola" class="img-fluid">
            </div>
            <div class="carousel-item text-center">
              <img src="assets/imagens/Apartamento5.png" alt="Corte Escola" class="img-fluid">
            </div>
            <div class="carousel-item text-center">
              <img src="assets/imagens/Apartamento6.png" alt="Corte Escola" class="img-fluid">
            </div>
            <div class="carousel-item text-center">
              <img src="assets/imagens/Apartamento7.png" alt="Corte Escola" class="img-fluid">
            </div>
            <div class="carousel-item text-center">
              <img src="assets/imagens/Apartamento8.png" alt="Corte Escola" class="img-fluid">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselApartamento" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselApartamento" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Nova Seção: Ferramentas e Tecnologias -->
<section id="ferramentas" class="section-4">
  <div class="container">
    <h2 style="margin-bottom: 30px; font-weight: bold;">Ferramentas e Tecnologias</h2>
    <div class="row">
      <div class="col-md-3 text-center">
        <img src="assets/imagens/6.png" alt="Corel Draw" class="img-fluid">
      </div>
      <div class="col-md-3 text-center">
        <img src="assets/imagens/5.png" alt="Adobe Illustrator" class="img-fluid">
      </div>
      <div class="col-md-3 text-center">
        <img src="assets/imagens/4.png" alt="Vray" class="img-fluid">
      </div>
      <div class="col-md-3 text-center">
        <img src="assets/imagens/3.png" alt="Enscape" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-center">
        <img src="assets/imagens/2.png" alt="Enscape" class="img-fluid">
      </div>
      <div class="col-md-3 text-center">
        <img src="assets/imagens/1.png" alt="Enscape" class="img-fluid">
      </div>
      <div class="col-md-3 text-center">
        <img src="assets/imagens/9.png" alt="Enscape" class="img-fluid">
      </div>
      <div class="col-md-3 text-center">
        <img src="assets/imagens/8.png" alt="Enscape" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-center">
        <img src="assets/imagens/11.png" alt="Enscape" class="img-fluid">
      </div>
      <div class="col-md-3 text-center">
        <img src="assets/imagens/12.png" alt="Enscape" class="img-fluid">
      </div>
      <div class="col-md-3 text-center">
        <img src="assets/imagens/13.png" alt="Enscape" class="img-fluid">
      </div>
      <div class="col-md-3 text-center">
        <img src="assets/imagens/14.png" alt="Enscape" class="img-fluid">
      </div>
    </div>
  </div>
</section>


<section id="desenhos" class="section-3">
  <div class="container">
    <h2 style="margin-bottom: 30px; font-weight: bold; ">Desenhos Técnicos</h2>
    <div class="row">
      <div class="col-md-4 text-center">
        <h5>Planta Baixa - Escola</h5>
        <img src="assets/imagens/PLANTABAIXA-ESCOLA.png" alt="Planta Baixa Escola" class="img-fluid">
        <a href="assets/imagens/PLANTABAIXA-ESCOLA.pdf" class="btn btn-primary mt-2" download>Baixar PDF</a>
      </div>
      <div class="col-md-4 text-center">
        <h5>Planta de Cobertura - Escola</h5>
        <img src="assets/imagens/PLANTADECOBERTURA-ESCOLA.png" alt="Planta de Cobertura Escola" class="img-fluid">
        <a href="assets/imagens/PLANTADECOBERTURA-ESCOLA.pdf" class="btn btn-primary mt-2" download>Baixar PDF</a>
      </div>
      <div class="col-md-4 text-center">
        <h5>Corte - Escola</h5>
        <img src="assets/imagens/CORTE-ESCOLA.png" alt="Corte Escola" class="img-fluid">
        <a href="assets/imagens/CORTE-ESCOLA.pdf" class="btn btn-primary mt-2" download>Baixar PDF</a>
      </div>
    </div>

    
    <div class="row mt-4">
      <div class="col-md-4 text-center">
        <h5>Planta de Subsolo - Prédio 1</h5>
        <img src="assets/imagens/PLANTADESUBSOLO-PRÉDIO-1.png" alt="Planta de Subsolo Prédio 1" class="img-fluid">
        <a href="assets/imagens/PLANTADESUBSOLO-PRÉDIO.pdf" class="btn btn-primary mt-2" download>Baixar PDF</a>
      </div>
      <div class="col-md-4 text-center">
        <h5>Planta de Cobertura - Prédio 1</h5>
        <img src="assets/imagens/PLANTADECOBERTURA-PRÉDIO-1.png" alt="Planta de Cobertura Prédio 1" class="img-fluid">
        <a href="assets/imagens/PLANTADECOBERTURA-PRÉDIO.pdf" class="btn btn-primary mt-2" download>Baixar PDF</a>
      </div>
      <div class="col-md-4 text-center">
        <h5>Pilotis (Térreo) - Prédio 1</h5>
        <img src="assets/imagens/PILOTIS(TÉRREO)-PRÉDIO-1.png" alt="Pilotis Térreo Prédio 1" class="img-fluid">
        <a href="assets/imagens/PILOTIS(TÉRREO)-PRÉDIO.pdf" class="btn btn-primary mt-2" download>Baixar PDF</a>
      </div>
    </div>

  </div>
</section>


<section id="contato" class="section-contato py-5">
  <div class="container text-center">
    <h2 class="mb-4" style="color: #181717; font-weight: bold; ">Entre em Contato</h2>
    <div class="row justify-content-center align-items-center">
      <!-- Espaço para a Imagem -->
      <div class="col-md-5 mb-4 mb-md-0">
        <img src="assets/imagens/oficial-foto.jpeg" alt="Contato" class="img-fluid rounded shadow">
      </div>

      <!-- Informações de Contato -->
      <div class="col-md-6">
        <div class="contact-card p-4 rounded shadow">
          <h3 class="mb-3">Obrigada!</h3>
          <p class="mb-4">Fique à vontade para entrar em contato comigo:</p>
          <ul class="list-unstyled text-start">
            <li class="mb-3">
              <i class="fas fa-phone-alt"></i>
              <strong>Telefone:</strong> (85) 99760-3925
            </li>
            <li class="mb-3">
              <i class="fas fa-envelope"></i>
              <strong>Email:</strong> 
              <a href="mailto:deboramariaandrade12&#64;gmail.com"> deboramariaandrade12&#64;gmail.com</a>
            </li>
            <li class="mb-3">
              <i class="fab fa-linkedin"></i>
              <strong>LinkedIn:</strong> 
              <a href="https://linkedin.com/in/débora-maria-75b087347" target="_blank"> linkedin.com/in/débora-maria-75b087347</a>
            </li>
            <li class="mb-3">
              <i class="fab fa-instagram"></i>
              <strong>Instagram:</strong> &#64;deboramaria_12
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<footer>
  © Copyright 2025. Todos os direitos reservados | Desenvolvido por:
  <a href="https://www.instagram.com/risiaeu" target="_blank">
    <img src="assets/imagens/drc-logo.png" alt="Instagram" style="width: 54px; height: 24px;" />
  </a>
</footer>
